<nz-header>
  <div class="logo"></div>
  <ul
    nz-menu
    [nzTheme]="'dark'"
    [nzMode]="'horizontal'"
    style="line-height: 64px;"
    *ngIf="(store.select('auth') | async) as storeOBJ"
  >
    <ng-container *ngIf="storeOBJ.status">
      <li
        nz-menu-item
        *ngFor="let nav of storeOBJ.user.active"
        [routerLink]="'/core/' + nav"
        routerLinkActive="active-link"
      >
        {{ nav === "daigou" ? "代购" : nav }}
      </li>
    </ng-container>
  </ul>
</nz-header>
