/* This container only show on the login page */
.container {
  background-image: url("/../../assets/images/auth-background.svg");
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
}

.logo {
  background-image: url("../../../../assets/logo.png");
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  width: 200px;
  height: 200px;
  background: transparent;
}
